/* Centerslidenav 0.1.4 ( https://github.com/tightcode/centerslidenav ) */
/* changed breakpoint from md to lg */



/* Centernav 0.1.3 ( https://github.com/tightcode/centernav ) */
@media (max-width: 991.98px) {
  .navbar > .container-fluid {
    position: relative;
  }
  .navbar-toggler {
    position: absolute;
    right: 0;
  }
}
@media (min-width: 992px) {
  .navbar-collapse > .d-flex {
    width: 100%;
    position:relative;
  }
  .navbar-collapse .form-inline {
    position: absolute;
    right: 0;
  }
}



/* Slidenav 4.0.0-alpha.5 ( https://github.com/tightcode/slidenav ) */
@media (min-width: 992px) {
  .dropdown>div {
    position: absolute;
    clip: rect(0.5rem, 9999px, 9999px, -9999px);
  }
}